In [1]:
import os
import numpy as np
import pandas as pd
import spacy
import re
from tqdm import tqdm

In [2]:
nlp = spacy.load('en_core_web_sm')

In [3]:
os.chdir('E:\[editted]\code\homework1')

In [4]:
###combine dataframe
dfs=[]
headers=['URL','Job Title','Company','Company URL','Company Location','Job Description']
for filename in os.scandir('job_info_data'):
  if filename.is_file():
        if '522' in filename.path:
            data=pd.read_csv(filename.path,delimiter=',')
            data.columns=headers #make headers match
            dfs.append(data)
            df=pd.concat(dfs)

In [5]:
df=df[df["Job Title"].notnull()]
df=df[df["Job Description"].notnull()]
df=df.drop_duplicates('URL').reset_index(drop=True)##not sure if need to drop duplicates but I drop them

Task 1. Create one pandas dataframe that combines all the data scraped from May 22, 2022 together. Drop rows with missing job titles and/or job descriptions. Use `spacy` to tokenize all the job titles included in the cleaned dataframe. For each job title, find all the nouns and all the adjectives in the title and get their lowercased lemmatized form. Use the reformatted nouns to construct a vocabulary set for this dataframe. How many unique nouns are there? Construct another vocabulary set using the reformatted adjectives. How many unique adjectives are there? What kind of different information do the nouns versus the adjectives reveal about the specific job?

In [12]:
vocab_with_freq = dict()

for i in tqdm(range(len(df))):
    job_title = df.loc[i, 'Job Title']
    for token in nlp(job_title):
                if token.pos_=='NOUN' or token.pos_=='PROPN':
                    vocab_with_freq[token.lemma_.lower()] = vocab_with_freq.get(token.lemma_.lower(), 0) + 1

vocabulary_list1 = list(vocab_with_freq.keys())
print('there are', len(vocabulary_list1), 'unique nouns among indeed job titles')

100%|█████████████████████████████████████████████████████████████████████████████| 3554/3554 [00:20<00:00, 172.92it/s]

there are 2100 unique nouns among indeed job titles

In [7]:
vocab_with_freq2 = dict()

for i in tqdm(range(len(df))):
    job_title = df.loc[i, 'Job Title']
    for token in nlp(job_title):
            if token.pos_=='ADJ':
                vocab_with_freq2[token.lemma_.lower()] = vocab_with_freq2.get(token.lemma_.lower(), 0) + 1

vocabulary_list2 = list(vocab_with_freq2.keys())
print('there are', len(vocabulary_list2), 'unique adjectives among indeed job titles')

100%|██████████████████████████████████████████████████████████████████████████████| 3554/3554 [00:35<00:00, 99.18it/s]

there are 84 unique adjectives among indeed job titles

Task 2. Choose the first job title in your dataframe as the primary string. Use one-hot encoding as the word embedding method and find jobs in your cleaned dataframe that have similar nouns in the title as your primary string.

In [50]:
job_title = df.loc[0, 'Job Title'] 
token_indices = []

for token in nlp(job_title):
            if token.pos_=='NOUN'or token.pos_=='PROPN':
                 print(token.lemma_.lower())

pharmacy
technician
ii
-retail
pharmacy

In [44]:
one_hot_encodings = []
existent = []

for i in tqdm(range(len(df))):
    job_title = df.loc[i, 'Job Title'] 
    token_indices = []
    

    for token in nlp(job_title):
            if  token.pos_=='NOUN'or token.pos_=='PROPN':
                token_index_in_vocab = vocabulary_list1.index(token.lemma_.lower())
                token_indices.append(token_index_in_vocab)

    one_hot_encoding = np.zeros(len(vocabulary_list1))
    if token_indices:
        existent.append(i)
    for token_index in token_indices:
        one_hot_encoding[token_index] = 1

    one_hot_encodings.append(one_hot_encoding)

100%|█████████████████████████████████████████████████████████████████████████████| 3554/3554 [00:18<00:00, 192.49it/s]

In [46]:
from scipy.spatial.distance import cosine

title_a = df.loc[0, 'Job Title']
similarity_values = []
for i in range(1, len(df)):
    if i in existent:
        similarity_value = 1 - cosine(one_hot_encodings[0], one_hot_encodings[i])
        similarity_values.append(similarity_value)
    else:
        similarity_values.append(np.nan)

In [47]:
similar_df = pd.DataFrame(columns=['job_title', 'similarity_value_with_one_hot'])
similar_df['job_title'] = df.loc[1:, 'Job Title']
similar_df['similarity_value_with_one_hot'] = similarity_values

similar_df.sort_values(by='similarity_value_with_one_hot', ascending=False)
similar_df.nlargest(60, 'similarity_value_with_one_hot')

,job_title,similarity_value_with_one_hot
437,Pharmacy Technician,0.707107
471,Pharmacy Technician,0.707107
774,Pharmacy Technician,0.707107
800,Pharmacy Technician,0.707107
824,Pharmacy Technician,0.707107
1006,Nationally Certified Pharmacy Technician,0.707107
1858,Pharmacy Technician,0.707107
1908,Pharmacy Technician,0.707107
2269,Pharmacy Technician,0.707107
2907,Pharmacy Technician,0.707107
3231,Nationally Certified Pharmacy Technician,0.707107
323,Pharmacy POS Billing Technician,0.577350
3497,Lab Technician II-III,0.577350
631,Administrative Technician,0.500000
1079,TELEMETRY TECHNICIAN,0.500000
1273,SAFETY TECHNICIAN,0.500000
1977,SAFETY TECHNICIAN,0.500000
2105,Regulatory Technician,0.500000
2486,SAFETY TECHNICIAN,0.500000
2493,Environmental Technician,0.500000
2520,Environmental Technician,0.500000
625,Pharmacy Technician - White Bear Lake Downtown,0.408248
813,Pharmacy Technician - Infusion Quality and Com...,0.408248
1199,Pharmacy Technician (Part-time) *South Philade...,0.408248
56,Accountant II,0.353553
74,I&E Technician,0.353553
189,Refrigeration Technician,0.353553
370,Universal Banker II,0.353553
417,Quality Technician,0.353553
649,Survey Technician,0.353553
684,Commercial Maintenance Technician,0.353553
765,Service Technician,0.353553
848,Registered Nurse II,0.353553
949,Inspector II,0.353553
1001,Metrology Technician,0.353553
1018,CAD Technician,0.353553
1063,TELLER II,0.353553
1168,Field Technician,0.353553
1243,Floor Technician,0.353553
1394,Maintenance Technician,0.353553
1635,Safety Technician II,0.353553
1703,HVAC Technician,0.353553
1719,Program Technician 2,0.353553
1741,Maintenance Technician,0.353553
1955,ED Technician I,0.353553
2007,Service Technician,0.353553
2063,Service Technician,0.353553
2162,Manufacturing Associate II,0.353553
2178,Commercial Maintenance Technician,0.353553
2239,Laboratory Technician,0.353553
2320,Microbiologist II,0.353553
2321,clinical medical physicist II,0.353553
2500,Scrub Technician,0.353553
2526,Senior Maintenance Technician,0.353553
2784,I&E Technician,0.353553
2854,ITC Technician,0.353553
2972,Laboratory Technician,0.353553
3008,Sharps Technician,0.353553
3529,Manufacturing Associate II,0.353553
3538,HVAC Technician,0.353553

word vector

In [24]:
job_title = df.loc[0, 'Job Title'] 
token_indices = []

for token in nlp(job_title): 
     if token.is_alpha:
        if token.pos_=='NOUN':
            print(token.lemma_.lower())
            print(token.vector, len(token.vector))

pharmacy
[ 0.5329317   0.160685   -0.5223515   0.80456847 -0.34936082  0.691764
 -1.3658403   0.31263214  0.5571234   0.08278453  1.3027737  -0.09548701
  0.26102644  0.33520383 -0.59733295  0.33713377  1.5453093  -0.07921885
  0.6418117  -0.42891258  0.2758968  -0.984888   -0.360137   -0.7650051
  0.9531846   0.5456793  -0.26387167  1.5937123   0.5114108   0.83167154
  0.36495885  0.04516274 -1.015482   -0.45563123  0.18730639 -1.0458035
  0.16175903  0.28529122 -0.90085614  1.4278584  -0.6499713   0.17930278
 -0.74243826 -1.302859    1.5725551  -0.36354285  0.5514792  -0.01359016
 -1.196868   -1.5602034   0.34736043  0.42733163 -0.43997997 -1.3551067
  1.0745281  -0.03383554  0.9676018  -0.5148288  -1.4490203   0.12455095
 -0.9580579   0.44441816  1.6824095   0.0858326  -0.08211006 -0.7378588
 -0.24343312  0.7857573   0.14963377 -0.6974355   0.10117382  0.46376204
 -0.4656161  -0.8130659  -0.37113512  1.5239341  -0.349994    0.6277942
 -0.38428846  1.54196     0.21696147 -1.1119186   0.93046665  0.13653064
  0.9711057  -0.10843146 -0.02732452 -0.7797782  -0.30635357 -0.02864337
 -1.5839403  -0.8934951  -0.9512931   0.23752683 -1.1060562  -0.09285853] 96
technician
[ 1.6368916  -0.01818144 -0.6422049  -0.05283752  0.5125607  -0.52752566
 -0.12992586  0.67731833  0.12402812  0.12629844  0.80018294  0.43819296
  0.16444439 -0.85691595 -0.33189636  0.50923014  0.91238797 -1.4440095
  0.06008     1.5529301  -0.48457828 -0.5417572   0.8535944   1.4301844
  1.2709129  -0.66861933 -0.35088277 -0.18432568 -1.290578    0.02631506
 -1.047152    0.18563476 -0.10728675  0.5057961   1.0001976  -0.6239433
  0.6057848   0.608986   -1.089649    0.8512625  -0.72521305 -0.43880242
  0.37904376 -1.4177475   0.30159208 -0.67745626  0.92773545  1.4833031
 -0.46746492 -0.05411657  0.9681817  -0.36153275 -0.8999823  -1.0849061
 -0.52041423  1.5488775   0.65176606 -0.7362454  -0.66979015  1.3381342
  0.13927263 -0.6663834  -0.51730055 -0.9322704  -0.04361451 -0.43623027
  0.06027126 -0.3054439  -0.49304417 -0.7951174   0.98615384  0.1610584
  1.1366959  -0.1252116   0.19983214  1.3167179  -0.58969915  0.50947
 -0.07143904 -0.9454988   0.01382151 -1.5107384   0.21773687 -0.95866615
 -0.7948696   0.6397805  -0.00496137 -0.7675257  -0.30562988 -0.25469193
  0.05202889 -1.2019893  -0.59435135 -0.47013113 -0.03047605  0.588072  ] 96
ii
[ 1.3663116e-01 -8.6345828e-01 -4.5606706e-01 -3.8458997e-01
  1.0620630e+00  8.0209225e-02 -8.8067031e-01  9.2511058e-01
  5.9846365e-01  3.2229707e-01  1.1867464e+00  1.7503760e+00
 -1.0717802e+00  6.4077067e-01  1.0765318e+00  9.9114865e-01
 -4.5719120e-01  3.7056321e-01  1.9338618e-01  1.9901279e-01
  9.8008484e-01 -9.4331694e-01  1.3187307e+00  7.6394993e-01
 -4.6721083e-01  8.4584624e-02 -1.0048701e+00 -8.3290190e-02
 -1.1233856e-01 -8.9294755e-01  3.9760500e-01 -1.6294561e-01
 -1.0112226e-01 -1.1624546e+00  2.0126159e+00 -2.0957035e-01
 -5.4530442e-02  2.5080734e-01 -6.5672648e-01 -2.0015523e+00
 -6.0765696e-01 -1.3207540e-01 -1.3290474e+00 -2.2526798e+00
  2.4706988e+00  1.7757267e-02  2.0327134e+00  3.3833823e-01
 -8.8739455e-02  6.5519047e-01  3.6391366e-01  3.9919677e-01
 -5.0850213e-05 -8.5491389e-01  5.1152104e-01 -5.8440190e-02
  2.1134086e+00 -2.2865003e-01 -1.0743409e+00  2.8096777e-01
 -9.6117723e-01 -1.2982577e-01  8.9532381e-01 -1.1128782e+00
  2.0605639e-01 -3.6900914e-01  3.2282674e-01 -8.4356153e-01
 -2.4919885e-01  9.2113927e-02  2.4155231e+00 -5.4640079e-01
  3.0705661e-01 -4.7668877e-01  2.6374862e-01 -1.0852433e+00
  3.4003600e-01  3.8566992e-01 -4.9332547e-01  3.7502882e-01
 -4.1977990e-01 -6.9531476e-01 -1.1756033e-01 -3.7785672e-02
  1.6885762e+00 -8.1513751e-01 -1.0562032e-01 -1.2776893e+00
 -7.3057115e-02 -1.0204718e+00  1.0750246e+00 -6.7620897e-01
 -8.4514922e-01 -1.2392352e+00 -7.2693944e-01  8.9453399e-01] 96
pharmacy
[ 0.7897225   0.73693687  0.00728887 -0.2009649  -0.32277673  0.6997743
 -0.93365645  0.39366126  0.20984408 -0.33141187  0.6213643  -0.47029388
 -0.10566904  1.4747806   0.09272175  0.6153429   0.53710896  0.61391306
  0.43357152 -0.9314701   0.7939178  -0.9227922  -0.653474    0.11093995
  1.1813898   0.6230574   0.13626249  0.7186463   0.24146318  1.6540856
  0.41290092  0.01278408 -1.8756348  -0.4631098  -0.5512182   0.04375875
 -0.41993898 -0.36506927 -0.18639457 -0.35482854  0.14785297 -0.02708015
 -1.2020276  -0.7962904   0.4329403  -1.7639433   0.29890394  0.7332835
 -0.1702263   0.14417064 -0.2492108   0.01330306 -0.567139   -1.3628888
  0.34642696  0.10291615 -0.4757756  -0.64610636 -0.9534393   0.32647732
  0.01286374  0.20239457  0.18843156  0.4952349   0.23407413 -0.6579567
 -0.5030966   1.2009366   0.02845815 -0.8589495  -0.02770305 -0.27681607
 -0.1975384  -0.34088284 -0.22724023  1.37723     0.30907276  1.0431792
 -1.0312974   2.1097922  -0.00403225 -0.7336943   0.93979603  0.02747235
  0.4494588   0.38561785  0.255054   -0.93908703 -1.6043186   0.5126051
 -1.4690475  -0.65304685 -1.6752205   1.0134251   0.22134675  0.22785407] 96

In [31]:
spacy_encoding = np.array([float(0) for i in range(96)])
token_count = 0

for i in tqdm(range(len(df))):
    job_title = df.loc[i, 'Job Title'] 

    for token in nlp(job_title): 
         if token.is_alpha:
                if token.pos_=='NOUN' or token.pos_=='PROPN':
                    token_count += 1
                    spacy_encoding += np.array(token.vector)
spacy_encoding /= token_count

spacy_encoding

100%|█████████████████████████████████████████████████████████████████████████████| 3554/3554 [00:16<00:00, 212.25it/s]

array([ 1.05149723,  0.14177672, -0.09876894, -0.35119926, -0.06413789,
        0.47125474, -0.69683404,  0.27803691,  0.35268057, -0.31381226,
        0.8076313 , -0.05604623,  0.03855227, -0.11629709, -0.14551855,
       -0.16227251,  1.04469741,  0.31638261,  0.27688566, -0.34872296,
       -0.39789943, -0.76632548, -0.16971439,  0.16475175,  0.8245986 ,
        0.22984736, -0.39001606,  0.7191471 , -0.19318833,  0.9171662 ,
        0.02479396,  0.03144033, -0.69566317, -0.518414  ,  0.60410791,
        0.08652811,  0.07740026,  0.2323642 , -0.65052209, -0.05213718,
       -0.4262901 ,  0.08830329, -0.60387487, -0.71807706,  0.41031208,
       -1.16764318,  0.45469659,  0.76323245,  0.08471907, -0.61504198,
        0.18325466, -0.1419342 , -0.36760237, -1.3683226 ,  0.12273322,
        0.65018587,  0.8397558 , -0.44555939, -0.79092513,  0.20245137,
       -0.38333938, -0.42688764,  0.64808681, -0.61626891,  0.70970928,
       -0.81654168,  0.01532306,  0.00690288,  0.16866223, -0.91260738,
        0.20333055,  0.02623608,  0.04364615, -0.06701331, -0.20058821,
        0.27623136, -0.31420163,  0.36435088, -0.9105676 ,  0.52339971,
       -0.28539974, -0.41372455,  0.56955771,  0.67390001,  0.57848869,
        0.26928989, -0.13581042, -0.35207262, -0.53928225,  0.20194319,
       -0.47680001, -0.97736137,  0.13589678,  0.76241999,  0.52459367,
        0.83037086])