# Exercise #6

## Content
* Task 6.1
* Task 6.2
* Task 6.3

### Task 6.1

In [13]:
## Merging Data Set

# Preparation
import os
os.chdir('/Users/[editted]/Desktop/SOCDATA')

import pandas as pd
import numpy as np
import seaborn as sns

crime_2019 = pd.read_csv('crime_2019.csv')
crime_2020 = pd.read_csv('crime_2020.csv')

# Merge Data
merge_data = pd.concat([crime_2019, crime_2020])

# Dropping Duplicates
# print(merge_data.duplicated().sum()) # There are no duplicated columns
new_merge_data = merge_data.drop_duplicates()

# Dropping the missing variables for crime 2019 data
new_merge_data=new_merge_data.dropna(subset=['INCIDENT_NUMBER', 'OFFENSE_CODE', 'DISTRICT', 'Long', 'Lat', 'SHOOTING', 'OCCURRED_ON_DATE'])

# Merging Data set
print(new_merge_data.shape) # Checking the data set: Whether

# Saving the data
new_merge_data.to_csv('new_merge_data.csv', index=False)

/var/folders/c3/z4j0ypq143n7ncqb9_syqt980000gn/T/ipykernel_47941/4287277743.py:11: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  crime_2019 = pd.read_csv('crime_2019.csv')
/var/folders/c3/z4j0ypq143n7ncqb9_syqt980000gn/T/ipykernel_47941/4287277743.py:12: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  crime_2020 = pd.read_csv('crime_2020.csv')

(156759, 17)

### Task 6.2

In [49]:
## Creating frequency table

new_merge_data = pd.read_csv('new_merge_data.csv')

count_1 = 0
count_2 = 0
count_3 = 0
count_4 = 0
count_5 = 0
count_6 = 0
count_7 = 0
count_8 = 0
count_9 = 0
count_10 = 0
count_11 = 0
count_12 = 0


for mon in new_merge_data['MONTH']:
    if mon == 1:
        count_1+=1
    if mon == 2:
        count_2+=1
    if mon == 3:
        count_3+=1
    if mon == 4:
        count_4+=1
    if mon == 5:
        count_5+=1
    if mon == 6:
        count_6+=1
    if mon == 7:
        count_7+=1
    if mon == 8:
        count_8+=1
    if mon == 9:
        count_9+=1
    if mon == 10:
        count_10+=1
    if mon == 11:
        count_11+=1
    if mon == 12:
        count_12+=1
        
count_1
count_2
count_3
count_4
count_5
count_6
count_7
count_8
count_9
count_10
count_11
count_12

data = [['Jan', count_1], ['Feb', count_2], ['Mar', count_3], ['Apr', count_4], ['May', count_5],['June',count_6],['July',count_7],['Aug',count_8],['Sep',count_9],['Oct',count_10],['Nov',count_11],['Dec',count_12]]


freq_table = pd.DataFrame(data,columns=['Month', 'Count'])


print(freq_table)

   Month  Count
0    Jan  13251
1    Feb  12021
2    Mar  12555
3    Apr  11298
4    May  13174
5   June  13494
6   July  14249
7    Aug  14886
8    Sep  14600
9    Oct  13731
10   Nov  12093
11   Dec  11407

/var/folders/c3/z4j0ypq143n7ncqb9_syqt980000gn/T/ipykernel_47941/2459132903.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  new_merge_data = pd.read_csv('new_merge_data.csv')

### Task 6.3

In [66]:
## Count the total number of crime incidents

new_merge_data = pd.read_csv('new_merge_data.csv')
new_merge_data

new_merge_data.dropna(subset = ['DISTRICT'])
new_merge_data = new_merge_data[['DISTRICT']].mask(new_merge_data.DISTRICT == 'External')
freq_table = pd.crosstab(index=new_merge_data['DISTRICT'], columns='count') 
freq_table

## Findings
# From the distributional table, Districts B2 has the most crimes compared to other places and A15 has the least.

/var/folders/c3/z4j0ypq143n7ncqb9_syqt980000gn/T/ipykernel_47941/1723048393.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  new_merge_data = pd.read_csv('new_merge_data.csv')

col_0     count
DISTRICT
A1        16949
A15        3489
A7         6541
B2        23472
B3        17419
C11       20014
C6        11726
D14       10460
D4        20559
E13        9031
E18        9374
E5         7402