# Task 6.1

In [155]:
import pandas as pd

path='year 2019.csv'
df1=pd.read_csv(path)

In [156]:
path2='year 2020.csv'
df2=pd.read_csv(path2)

In [46]:
frames = [df1, df2]
data = pd.concat(frames).drop_duplicates()
dataclean = data.dropna(axis='index',how='any', subset=['INCIDENT_NUMBER', 'OFFENSE_CODE', 'DISTRICT', 'Long', 'Lat', 'SHOOTING', 'OCCURRED_ON_DATE'])

In [157]:
dataclean

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,102091671,2647,NaN,THREATS TO DO BODILY HARM,B3,417,0,2019/11/12 12:00,2019,11,Tuesday,12,NaN,MORA ST,42.282082,-71.073649,"(42.28208197671972, -71.07364874515646)"
1,102095489,3115,NaN,INVESTIGATE PERSON,E18,520,0,2019/11/25 16:30,2019,11,Monday,16,NaN,POYDRAS ST,42.256216,-71.124019,"(42.256215920402155, -71.12401947329023)"
2,102096818,2905,NaN,VAL - VIOLATION OF AUTO LAW,A1,,0,2019/11/30 21:00,2019,11,Saturday,21,NaN,SUDBURY ST & CAMBRIDGE ST\nBOSTON MA 02108\nU...,42.360866,-71.061316,"(42.360866027118476, -71.0613160019785)"
4,129099920,3301,NaN,VERBAL DISPUTE,B2,330,0,2019/12/12 7:50,2019,12,Thursday,7,NaN,COLUMBIA ROAD,0.000000,0.000000,"(0, 0)"
5,129099936,1106,NaN,FRAUD - CREDIT CARD / ATM FRAUD,B2,288,0,2019/11/29 6:00,2019,11,Friday,6,NaN,WASHINGTON ST,42.329748,-71.084540,"(42.329748204791635, -71.08454011649543)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70889,20063425,3114,NaN,INVESTIGATE PROPERTY,A7,21,0,2020/9/1 0:00,2020,9,Tuesday,0,NaN,PARIS ST,42.374427,-71.035279,"(42.3744269722053, -71.0352787630199)"
70890,20062356,1107,NaN,FRAUD - IMPERSONATION,E18,520,0,2020/8/28 18:39,2020,8,Friday,18,NaN,RIVERSIDE SQ,42.256216,-71.124019,"(42.2562159204022, -71.1240194732902)"
70891,20046400,1501,NaN,WEAPON VIOLATION - CARRY/ POSSESSING/ SALE/ TR...,B2,330,0,2020/7/2 1:38,2020,7,Thursday,1,NaN,PASADENA RD,42.305761,-71.083772,"(42.3057609263196, -71.0837715727385)"
70892,20038446,1501,NaN,WEAPON VIOLATION - CARRY/ POSSESSING/ SALE/ TR...,B2,300,0,2020/6/3 1:15,2020,6,Wednesday,1,NaN,WASHINGTON ST,42.323808,-71.089150,"(42.3238077563779, -71.0891502345332)"
70893,20030892,540,NaN,BURGLARY - COMMERICAL,C11,380,0,2020/5/3 0:00,2020,5,Sunday,0,NaN,GALLIVAN BLVD,42.283700,-71.047761,"(42.2837003080534, -71.0477614298657)"

In [158]:
dataclean.to_csv('saved_data_exercise6.csv')

# Task 6.2

In [159]:
datanew = pd.read_csv('saved_data_exercise6.csv')

In [160]:
data2019 = datanew.loc[datanew['OCCURRED_ON_DATE'].str.contains('2019')]
data2020 = datanew.loc[datanew['OCCURRED_ON_DATE'].str.contains('2020')]

In [161]:
data2019['OCCURRED_ON_DATE']=pd.to_datetime(data2019['OCCURRED_ON_DATE'])
data2020['OCCURRED_ON_DATE']=pd.to_datetime(data2020['OCCURRED_ON_DATE'])

C:\Users\dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [162]:
frame1 = pd.crosstab(index=data2019['MONTH'], columns='number of crime incidentst in 2019')
frame2 = pd.crosstab(index=data2020['MONTH'], columns='number of crime incidentst in 2020')

In [163]:
frames= [frame1,frame2]
frenquency_table = frame1.merge(frame2, how='inner', left_index=True, right_index=True)

In [164]:
frenquency_table

col_0  number of crime incidentst in 2019  number of crime incidentst in 2020
MONTH
1                                    6933                                6318
2                                    6147                                5874
3                                    7065                                5490
4                                    6936                                4362
5                                    7763                                5411
6                                    7597                                5897
7                                    8036                                6213
8                                    8379                                6507
9                                    8133                                6467
10                                   6990                                6741
11                                   6338                                5755
12                                   5826                                5581

# Task 6.3

In [165]:
frame3 = pd.crosstab(index=data2019['DISTRICT'], columns='number of crime incidentst in 2019')
frame4 = pd.crosstab(index=data2020['DISTRICT'], columns='number of crime incidentst in 2020')

In [166]:
frames= [frame3,frame4]
frenquency_table = frame3.merge(frame4, how='inner', left_index=True, right_index=True)

In [169]:
frenquency_table.drop(index='External')

col_0,number of crime incidentst in 2019,number of crime incidentst in 2020
DISTRICT,,
A1,9936,7013
A15,1889,1600
A7,3400,3141
B2,13030,10442
B3,9591,7828
C11,11022,8992
C6,6286,5440
D14,5704,4756
D4,11276,9283
E13,4928,4103
E18,5197,4177
E5,3807,3595

The concentration of crimes in Districts A（especially A15） and E is significantly lower than the concentration of crimes in Districts B, C, and D