In [65]:
###set up work dir and read files

import os

os.chdir('/Users/[editted]/Documents/compsoc/code/boston_crime2019')

import pandas as pd

df_2019=pd.read_csv('boscrime2019.csv')
df_2020=pd.read_csv('boscrime2020.csv')

/Users/sophia/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

### Task 6.1 Combine year 2019 and year 2020’s crime records into one pandas dataframe. Drop duplicates as well as any record that has missing values in the following columns: “INCIDENT_NUMBER”, “OFFENSE_CODE”, “DISTRICT”, “Long”, “Lat”, “SHOOTING”, “OCCURRED_ON_DATE”. Save the “cleaned” pandas dataframe to a separate csv file. ###

In [37]:
df= pd.concat([df_2019, df_2020], ignore_index=True, sort =False)
#combine
print(df)

df = df.dropna(subset=['INCIDENT_NUMBER', 'OFFENSE_CODE', 'DISTRICT', 'Long', 'Lat', 'SHOOTING', 'OCCURRED_ON_DATE'])
#drop missing
print(df)

df_clean=df.drop_duplicates()
#drop duplicates 
print(df_clean.duplicated().sum())

df_clean.to_csv('df_clean.csv')
#save new file

       INCIDENT_NUMBER  OFFENSE_CODE  OFFENSE_CODE_GROUP  \
0            102091671          2647                 NaN
1            102095489          3115                 NaN
2            102096818          2905                 NaN
3            129092894          3201                 NaN
4            129099920          3301                 NaN
...                ...           ...                 ...
158073        20063425          3114                 NaN
158074        20062356          1107                 NaN
158075        20046400          1501                 NaN
158076        20038446          1501                 NaN
158077        20030892           540                 NaN

                                      OFFENSE_DESCRIPTION DISTRICT  \
0                               THREATS TO DO BODILY HARM       B3
1                                      INVESTIGATE PERSON      E18
2                             VAL - VIOLATION OF AUTO LAW       A1
3                                PROPERTY - LOST/ MISSING      NaN
4                                          VERBAL DISPUTE       B2
...                                                   ...      ...
158073                               INVESTIGATE PROPERTY       A7
158074                              FRAUD - IMPERSONATION      E18
158075  WEAPON VIOLATION - CARRY/ POSSESSING/ SALE/ TR...       B2
158076  WEAPON VIOLATION - CARRY/ POSSESSING/ SALE/ TR...       B2
158077                              BURGLARY - COMMERICAL      C11

       REPORTING_AREA  SHOOTING     OCCURRED_ON_DATE  YEAR  MONTH DAY_OF_WEEK  \
0                 417         0  2019-11-12 12:00:00  2019     11     Tuesday
1                 520         0  2019-11-25 16:30:00  2019     11      Monday
2                             0  2019-11-30 21:00:00  2019     11    Saturday
3                 503         0  2019-11-16 13:30:00  2019     11    Saturday
4                 330         0  2019-12-12 07:50:00  2019     12    Thursday
...               ...       ...                  ...   ...    ...         ...
158073             21         0  2020-09-01 00:00:00  2020      9     Tuesday
158074            520         0  2020-08-28 18:39:00  2020      8      Friday
158075            330         0  2020-07-02 01:38:00  2020      7    Thursday
158076            300         0  2020-06-03 01:15:00  2020      6   Wednesday
158077            380         0  2020-05-03 00:00:00  2020      5      Sunday

        HOUR  UCR_PART                                             STREET  \
0         12       NaN                                            MORA ST
1         16       NaN                                         POYDRAS ST
2         21       NaN  SUDBURY ST & CAMBRIDGE ST\nBOSTON  MA 02108\nU...
3         13       NaN                                AMERICAN LEGION HWY
4          7       NaN                                      COLUMBIA ROAD
...      ...       ...                                                ...
158073     0       NaN                                           PARIS ST
158074    18       NaN                                       RIVERSIDE SQ
158075     1       NaN                                        PASADENA RD
158076     1       NaN                                      WASHINGTON ST
158077     0       NaN                                      GALLIVAN BLVD

              Lat       Long                                  Location
0       42.282082 -71.073649   (42.28208197671972, -71.07364874515646)
1       42.256216 -71.124019  (42.256215920402155, -71.12401947329023)
2       42.360866 -71.061316   (42.360866027118476, -71.0613160019785)
3       42.284467 -71.111831   (42.28446742674232, -71.11183088758158)
4        0.000000   0.000000                                    (0, 0)
...           ...        ...                                       ...
158073  42.374427 -71.035279     (42.3744269722053, -71.0352787630199)
158074  42.256216 -71.124019     (42.2562159204022, -71.1240194732902)
158075  42.305761 -71.083772     (42.3057609263196, -71.0837715727385)
158076  42.323808 -71.089150     (42.3238077563779, -71.0891502345332)
158077  42.283700 -71.047761     (42.2837003080534, -71.0477614298657)

[158078 rows x 17 columns]
       INCIDENT_NUMBER  OFFENSE_CODE  OFFENSE_CODE_GROUP  \
0            102091671          2647                 NaN
1            102095489          3115                 NaN
2            102096818          2905                 NaN
4            129099920          3301                 NaN
5            129099936          1106                 NaN
...                ...           ...                 ...
158073        20063425          3114                 NaN
158074        20062356          1107                 NaN
158075        20046400          1501                 NaN
158076        20038446          1501                 NaN
158077        20030892           540                 NaN

                                      OFFENSE_DESCRIPTION DISTRICT  \
0                               THREATS TO DO BODILY HARM       B3
1                                      INVESTIGATE PERSON      E18
2                             VAL - VIOLATION OF AUTO LAW       A1
4                                          VERBAL DISPUTE       B2
5                         FRAUD - CREDIT CARD / ATM FRAUD       B2
...                                                   ...      ...
158073                               INVESTIGATE PROPERTY       A7
158074                              FRAUD - IMPERSONATION      E18
158075  WEAPON VIOLATION - CARRY/ POSSESSING/ SALE/ TR...       B2
158076  WEAPON VIOLATION - CARRY/ POSSESSING/ SALE/ TR...       B2
158077                              BURGLARY - COMMERICAL      C11

       REPORTING_AREA  SHOOTING     OCCURRED_ON_DATE  YEAR  MONTH DAY_OF_WEEK  \
0                 417         0  2019-11-12 12:00:00  2019     11     Tuesday
1                 520         0  2019-11-25 16:30:00  2019     11      Monday
2                             0  2019-11-30 21:00:00  2019     11    Saturday
4                 330         0  2019-12-12 07:50:00  2019     12    Thursday
5                 288         0  2019-11-29 06:00:00  2019     11      Friday
...               ...       ...                  ...   ...    ...         ...
158073             21         0  2020-09-01 00:00:00  2020      9     Tuesday
158074            520         0  2020-08-28 18:39:00  2020      8      Friday
158075            330         0  2020-07-02 01:38:00  2020      7    Thursday
158076            300         0  2020-06-03 01:15:00  2020      6   Wednesday
158077            380         0  2020-05-03 00:00:00  2020      5      Sunday

        HOUR  UCR_PART                                             STREET  \
0         12       NaN                                            MORA ST
1         16       NaN                                         POYDRAS ST
2         21       NaN  SUDBURY ST & CAMBRIDGE ST\nBOSTON  MA 02108\nU...
4          7       NaN                                      COLUMBIA ROAD
5          6       NaN                                      WASHINGTON ST
...      ...       ...                                                ...
158073     0       NaN                                           PARIS ST
158074    18       NaN                                       RIVERSIDE SQ
158075     1       NaN                                        PASADENA RD
158076     1       NaN                                      WASHINGTON ST
158077     0       NaN                                      GALLIVAN BLVD

              Lat       Long                                  Location
0       42.282082 -71.073649   (42.28208197671972, -71.07364874515646)
1       42.256216 -71.124019  (42.256215920402155, -71.12401947329023)
2       42.360866 -71.061316   (42.360866027118476, -71.0613160019785)
4        0.000000   0.000000                                    (0, 0)
5       42.329748 -71.084540  (42.329748204791635, -71.08454011649543)
...           ...        ...                                       ...
158073  42.374427 -71.035279     (42.3744269722053, -71.0352787630199)
158074  42.256216 -71.124019     (42.2562159204022, -71.1240194732902)
158075  42.305761 -71.083772     (42.3057609263196, -71.0837715727385)
158076  42.323808 -71.089150     (42.3238077563779, -71.0891502345332)
158077  42.283700 -71.047761     (42.2837003080534, -71.0477614298657)

[156759 rows x 17 columns]
0

### Task 6.2 Read the csv file generated from Task 6.1 as a pandas dataframe. Use functions inside pandas to create a frequency table that counts the total number of crime incidents in Boston in each month from 2019 to 2020. Print this table. ###

In [56]:
df=pd.read_csv('df_clean.csv')
# read new file 

print(df[['YEAR', 'MONTH']].value_counts())
#unsorted 

count = df.groupby(['YEAR', 'MONTH']).size()
print(count)
#sorted frequency table

YEAR  MONTH
2019  8        8379
      9        8133
      7        8036
      5        7763
      6        7597
      3        7065
      10       6990
      4        6936
      1        6933
2020  10       6741
      8        6507
      9        6467
2019  11       6338
2020  1        6318
      7        6213
2019  2        6147
2020  6        5897
      2        5874
2019  12       5826
2020  11       5755
      12       5581
      3        5490
      5        5411
      4        4362
dtype: int64
YEAR  MONTH
2019  1        6933
      2        6147
      3        7065
      4        6936
      5        7763
      6        7597
      7        8036
      8        8379
      9        8133
      10       6990
      11       6338
      12       5826
2020  1        6318
      2        5874
      3        5490
      4        4362
      5        5411
      6        5897
      7        6213
      8        6507
      9        6467
      10       6741
      11       5755
      12       5581
dtype: int64

### Task 6.3 Count the total number of crime incidents in each year by district (column “DISTRICT” in the data). Ignore DISTRACT with null value as well as value  “External”. Discuss the spatial distribution of crime. Do you see any significant difference between districts in terms of their crime counts?  ###

In [64]:
count_dis = df.groupby(['YEAR', 'DISTRICT']).size()
print(count_dis)

count_dis = df.groupby(['YEAR','DISTRICT']).size().reset_index(
  name='Count').sort_values(['Count'], ascending=False)
#sort according to frequency

count_dis

YEAR  DISTRICT
2019  A1           9936
      A15          1889
      A7           3400
      B2          13030
      B3           9591
      C11         11022
      C6           6286
      D14          5704
      D4          11276
      E13          4928
      E18          5197
      E5           3807
      External       77
2020  A1           7013
      A15          1600
      A7           3141
      B2          10442
      B3           7828
      C11          8992
      C6           5440
      D14          4756
      D4           9283
      E13          4103
      E18          4177
      E5           3595
      External      246
dtype: int64

    YEAR  DISTRICT  Count
3   2019        B2  13030
8   2019        D4  11276
5   2019       C11  11022
16  2020        B2  10442
0   2019        A1   9936
4   2019        B3   9591
21  2020        D4   9283
18  2020       C11   8992
17  2020        B3   7828
13  2020        A1   7013
6   2019        C6   6286
7   2019       D14   5704
19  2020        C6   5440
10  2019       E18   5197
9   2019       E13   4928
20  2020       D14   4756
23  2020       E18   4177
22  2020       E13   4103
11  2019        E5   3807
24  2020        E5   3595
2   2019        A7   3400
15  2020        A7   3141
1   2019       A15   1889
14  2020       A15   1600
25  2020  External    246
12  2019  External     77

 - The differences in crime counts between districts are significant. We can see patterns of crime concentrations as crime counts are especially high in certain districts such as B2 and D4. 
 - E5, A7, and A15 are among the safest districts with least crime counts.