## Task6.1

In [2]:
import pandas as pd
import numpy as np 
import seaborn as sns

In [3]:
crime1_df = pd.read_csv('crime_incident_report .csv', low_memory=False)

In [4]:
crime2_df = pd.read_csv('script_113631134_20210423193017_combine.csv', low_memory=False)

In [6]:
combined_df = pd.concat([crime1_df, crime2_df])  ##using concat to combine the 2019 and 2020 data

In [20]:
print(combined_df.drop_duplicates(keep="first"))  ##droping duplicate

      INCIDENT_NUMBER  OFFENSE_CODE  OFFENSE_CODE_GROUP  \
0           102091671          2647                 NaN
1           102095489          3115                 NaN
2           102096818          2905                 NaN
4           129099920          3301                 NaN
5           129099936          1106                 NaN
...               ...           ...                 ...
70889       020063425          3114                 NaN
70890       020062356          1107                 NaN
70891       020046400          1501                 NaN
70892       020038446          1501                 NaN
70893       020030892           540                 NaN

                                     OFFENSE_DESCRIPTION DISTRICT  \
0                              THREATS TO DO BODILY HARM       B3
1                                     INVESTIGATE PERSON      E18
2                            VAL - VIOLATION OF AUTO LAW       A1
4                                         VERBAL DISPUTE       B2
5                        FRAUD - CREDIT CARD / ATM FRAUD       B2
...                                                  ...      ...
70889                               INVESTIGATE PROPERTY       A7
70890                              FRAUD - IMPERSONATION      E18
70891  WEAPON VIOLATION - CARRY/ POSSESSING/ SALE/ TR...       B2
70892  WEAPON VIOLATION - CARRY/ POSSESSING/ SALE/ TR...       B2
70893                              BURGLARY - COMMERICAL      C11

      REPORTING_AREA  SHOOTING     OCCURRED_ON_DATE  YEAR  MONTH DAY_OF_WEEK  \
0                417         0  2019-11-12 12:00:00  2019     11     Tuesday
1                520         0  2019-11-25 16:30:00  2019     11      Monday
2                            0  2019-11-30 21:00:00  2019     11    Saturday
4                330         0  2019-12-12 07:50:00  2019     12    Thursday
5                288         0  2019-11-29 06:00:00  2019     11      Friday
...              ...       ...                  ...   ...    ...         ...
70889             21         0  2020-09-01 00:00:00  2020      9     Tuesday
70890            520         0  2020-08-28 18:39:00  2020      8      Friday
70891            330         0  2020-07-02 01:38:00  2020      7    Thursday
70892            300         0  2020-06-03 01:15:00  2020      6   Wednesday
70893            380         0  2020-05-03 00:00:00  2020      5      Sunday

       HOUR  UCR_PART                                             STREET  \
0        12       NaN                                            MORA ST
1        16       NaN                                         POYDRAS ST
2        21       NaN  SUDBURY ST & CAMBRIDGE ST\nBOSTON  MA 02108\nU...
4         7       NaN                                      COLUMBIA ROAD
5         6       NaN                                      WASHINGTON ST
...     ...       ...                                                ...
70889     0       NaN                                           PARIS ST
70890    18       NaN                                       RIVERSIDE SQ
70891     1       NaN                                        PASADENA RD
70892     1       NaN                                      WASHINGTON ST
70893     0       NaN                                      GALLIVAN BLVD

             Lat       Long                                  Location
0      42.282082 -71.073649   (42.28208197671972, -71.07364874515646)
1      42.256216 -71.124019  (42.256215920402155, -71.12401947329023)
2      42.360866 -71.061316   (42.360866027118476, -71.0613160019785)
4       0.000000   0.000000                                    (0, 0)
5      42.329748 -71.084540  (42.329748204791635, -71.08454011649543)
...          ...        ...                                       ...
70889  42.374427 -71.035279     (42.3744269722053, -71.0352787630199)
70890  42.256216 -71.124019     (42.2562159204022, -71.1240194732902)
70891  42.305761 -71.083772     (42.3057609263196, -71.0837715727385)
70892  42.323808 -71.089150     (42.3238077563779, -71.0891502345332)
70893  42.283700 -71.047761     (42.2837003080534, -71.0477614298657)

[156759 rows x 17 columns]

In [17]:
combined_df = combined_df.dropna(subset=["INCIDENT_NUMBER", "OFFENSE_CODE", "DISTRICT", "Long", "Lat", "SHOOTING", "OCCURRED_ON_DATE"])
combined_df[combined_df['Long'] == 0]
combined_df.loc[combined_df['Long'] == 0,'Long'] = np.nan   ##dropping the record that has missing value in the colunms listed
combined_df[combined_df['Lat'] == 0]
combined_df.loc[combined_df['Lat'] == 0,'Lat'] = np.nan
print(combined_df)

      INCIDENT_NUMBER  OFFENSE_CODE  OFFENSE_CODE_GROUP  \
0           102091671          2647                 NaN
1           102095489          3115                 NaN
2           102096818          2905                 NaN
5           129099936          1106                 NaN
6           129100024          3201                 NaN
...               ...           ...                 ...
70889       020063425          3114                 NaN
70890       020062356          1107                 NaN
70891       020046400          1501                 NaN
70892       020038446          1501                 NaN
70893       020030892           540                 NaN

                                     OFFENSE_DESCRIPTION DISTRICT  \
0                              THREATS TO DO BODILY HARM       B3
1                                     INVESTIGATE PERSON      E18
2                            VAL - VIOLATION OF AUTO LAW       A1
5                        FRAUD - CREDIT CARD / ATM FRAUD       B2
6                               PROPERTY - LOST/ MISSING       B2
...                                                  ...      ...
70889                               INVESTIGATE PROPERTY       A7
70890                              FRAUD - IMPERSONATION      E18
70891  WEAPON VIOLATION - CARRY/ POSSESSING/ SALE/ TR...       B2
70892  WEAPON VIOLATION - CARRY/ POSSESSING/ SALE/ TR...       B2
70893                              BURGLARY - COMMERICAL      C11

      REPORTING_AREA  SHOOTING     OCCURRED_ON_DATE  YEAR  MONTH DAY_OF_WEEK  \
0                417         0  2019-11-12 12:00:00  2019     11     Tuesday
1                520         0  2019-11-25 16:30:00  2019     11      Monday
2                            0  2019-11-30 21:00:00  2019     11    Saturday
5                288         0  2019-11-29 06:00:00  2019     11      Friday
6                612         0  2019-12-12 10:40:00  2019     12    Thursday
...              ...       ...                  ...   ...    ...         ...
70889             21         0  2020-09-01 00:00:00  2020      9     Tuesday
70890            520         0  2020-08-28 18:39:00  2020      8      Friday
70891            330         0  2020-07-02 01:38:00  2020      7    Thursday
70892            300         0  2020-06-03 01:15:00  2020      6   Wednesday
70893            380         0  2020-05-03 00:00:00  2020      5      Sunday

       HOUR  UCR_PART                                             STREET  \
0        12       NaN                                            MORA ST
1        16       NaN                                         POYDRAS ST
2        21       NaN  SUDBURY ST & CAMBRIDGE ST\nBOSTON  MA 02108\nU...
5         6       NaN                                      WASHINGTON ST
6        10       NaN                                       LONGWOOD AVE
...     ...       ...                                                ...
70889     0       NaN                                           PARIS ST
70890    18       NaN                                       RIVERSIDE SQ
70891     1       NaN                                        PASADENA RD
70892     1       NaN                                      WASHINGTON ST
70893     0       NaN                                      GALLIVAN BLVD

             Lat       Long                                  Location
0      42.282082 -71.073649   (42.28208197671972, -71.07364874515646)
1      42.256216 -71.124019  (42.256215920402155, -71.12401947329023)
2      42.360866 -71.061316   (42.360866027118476, -71.0613160019785)
5      42.329748 -71.084540  (42.329748204791635, -71.08454011649543)
6      42.337442 -71.104281   (42.33744151891779, -71.10428095571272)
...          ...        ...                                       ...
70889  42.374427 -71.035279     (42.3744269722053, -71.0352787630199)
70890  42.256216 -71.124019     (42.2562159204022, -71.1240194732902)
70891  42.305761 -71.083772     (42.3057609263196, -71.0837715727385)
70892  42.323808 -71.089150     (42.3238077563779, -71.0891502345332)
70893  42.283700 -71.047761     (42.2837003080534, -71.0477614298657)

[151895 rows x 17 columns]

In [18]:
combined_df.to_csv('2019_and_2020_crime_data.csv')  ##save the pandas dataframe to .csv file

## Task6.2

In [15]:
print("---MONTH IN 2019---")
print(combined_df[combined_df['YEAR'] == 2019]['MONTH'].value_counts().sort_index())
print("---MONTH IN 2020---")
print(combined_df[combined_df['YEAR'] == 2020]['MONTH'].value_counts().sort_index())

---MONTH IN 2019---
1     6933
2     6147
3     7065
4     6936
5     7763
6     7597
7     8036
8     8379
9     8133
10    6990
11    6338
12    5826
Name: MONTH, dtype: int64
---MONTH IN 2020---
1     6318
2     5874
3     5490
4     4362
5     5411
6     5897
7     6213
8     6507
9     6467
10    6741
11    5755
12    5581
Name: MONTH, dtype: int64

## Task 6.3

In [16]:
print("---DISTRICT IN 2019---")
print(combined_df[combined_df['YEAR'] == 2019]['DISTRICT'].value_counts())
print("---DISTRICT IN 2020---")
print(combined_df[combined_df['YEAR'] == 2020]['DISTRICT'].value_counts())

---DISTRICT IN 2019---
B2          13030
D4          11276
C11         11022
A1           9936
B3           9591
C6           6286
D14          5704
E18          5197
E13          4928
E5           3807
A7           3400
A15          1889
External       77
Name: DISTRICT, dtype: int64
---DISTRICT IN 2020---
B2          10442
D4           9283
C11          8992
B3           7828
A1           7013
C6           5440
D14          4756
E18          4177
E13          4103
E5           3595
A7           3141
A15          1600
External      246
Name: DISTRICT, dtype: int64

Interpretation: The crime incident are mainly located in B2 district in both 2019 and 2020. A15 had the least crime incident in both year. The number of crimes incidents has been decreased to some extent in all districts.